doctype html
html
    head
        title Реализация бухла и курева
        link(rel="stylesheet", href="/bower_components/roboto-fontface/css/roboto-fontface.css")
        link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-table/dist/bootstrap-table.min.css')
        link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='/bower_components/bootstrap-combobox/css/bootstrap-combobox.css')
        link(rel="stylesheet", href="/stylesheets/fonts.css")
        link(rel='stylesheet', href='/stylesheets/grayscale.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body#page-top(data-spy="scroll",data-target=".navbar-fixed-top")
        include good-edit
        include oper-edit
        block content
        script(src='/bower_components/jquery/dist/jquery.min.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
        script(src='/bower_components/bootstrap-table/dist/bootstrap-table.min.js')
        script(src='/bower_components/bootstrap-table/dist/locale/bootstrap-table-ru-RU.min.js')
        script(src='/bower_components/bootstrap-combobox/js/bootstrap-combobox.js')
        script(src='/bower_components/bootstrap-validator/dist/validator.min.js')
        script(src='/bower_components/jquery-easing/jquery.easing.min.js')
        script(src='/javascripts/global.js')
