section#outcome.content-section.text-center
    .row
        .col-lg-8.col-lg-offset-2
            h2 Расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход
            p Тут будет расход