section#turns.container.content-section.text-center
    .row
        .col-lg-8.col-lg-offset-2
            h2 Обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты
            p Тут будут обороты