
.intro-body {
  text-shadow: 2px 2px 8px #0f0f0f;
}


.modal-content {
    background-color: #eee;
    border: 2px solid #555;
    color: #444;
    /*
    text-shadow: 2px 2px 8px #efefef;
    */
}

.modal-header .close {
    opacity: .8;
    color: #333;
}

.btn.pull-right {
    margin-left: 8px;
}

.fa.rt {
    margin-right: 4px;
}

.fa.lt {
    margin-left: 4px;
}

section#income {
    /*
    background: url(../img/income-bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    */
    min-height: 100%;
     border-radius: 10px;
 }

section#outcome {
    /*
    background: url(../img/outcome-bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    */
    min-height: 100%;
 }
section#turns {
    /*
    background: url(../img/turns-bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    */
    min-height: 100%;
 }
section#report {
    /*
    background: url(../img/report-bg.jpg) no-repeat bottom center scroll;
    background-size: cover;
    */
    min-height: 100%;
 }

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.pl8 {
    padding-left: 8px !important;
}

.pr8 {
    padding-right: 8px !important;
}

.form-control{
    font-family: PTMonoRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.typeahead{
    font-family: PTMonoRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section .form-control{
    background-color: #555;
    color: #FFFBFB;
}

.datepicker-inline {
    margin-right: auto;
    margin-left: auto;
}

.mono {
    font-family: PTMonoRegular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fixed-table-container tbody td .th-inner, .fixed-table-container thead th .th-inner {
    white-space: pre-line;
}